@use "sass:map";
@use 'vars' as *;

@mixin font($weight: 400) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  line-height: 100%;
}

@mixin titleSmall($fs: $fs-title, $weight: 500, $lh: 25px) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $weight;

  @include respond-to(medium-screens) {
    line-height: calc($lh - 4px);
  }

  @include respond-to(tablet) {
    line-height: calc($lh - 7px);
  }
}

@mixin textDescription($fs: $fs-text, $weight: 400) {
  font-size: $fs;
  line-height: 26px;
  font-weight: $weight;

  @include respond-to(medium-screens) {
    line-height: 21px;
  }

  @include respond-to(handhelds) {
    line-height: 14px;
  }
}

@mixin respond-to($media) {

  // карманные компьютеры
  @if $media ==handhelds {
    @media only screen and (max-width: $small) {
      @content;
    }
  }

  @if $media ==tablet {
    @media only screen and (max-width: $tablets) {
      @content;
    }
  }

  @if $media ==medium-screens {
    @media only screen and (max-width: $large) {
      @content;
    }
  }

  // @else if $media ==medium-screens {
  //   @media only screen and (min-width: ($small + 1)) and (max-width: ($large - 1)) {
  //     @content;
  //   }
  // }

  // широкий экран
  @else if $media ==wide-screens {
    @media only screen and (min-width: $large) {
      @content;
    }
  }

  @else if $media ==cont-w {
    @media only screen and (min-width: $container) {
      @content;
    }
  }

}

@mixin position-items($breakpoint) {
  $positions: map.get($items-positions, $breakpoint);

  @for $i from 1 through 5 {
    .item-#{$i} {
      $pos: map.get($positions, $i);
      grid-row: map.get($pos, 'row');
      grid-column: map.get($pos, 'column');

      @if map.has-key($pos, 'ac') {
        margin-top: 1rem;
      }

      @if map.has-key($pos, 'mw') {
        max-width: map.get($pos, 'mw');
      }

      @if map.has-key($pos, 'pos') {
        position: relative;
        top: map.get($pos, 'pos');
      }
    }
  }
}