$color-primary: rgb(24, 198, 172);
$color-primary-hover: rgb(15, 165, 143);
$color-primary-dark: rgb(10, 167, 142);
$color-secondary: rgb(0, 118, 139);
$color-secondary-hover: rgb(0, 98, 115);
$color-white: rgb(255, 255, 255);
$color-text: rgb(14, 56, 59);
$color-desc-text: rgba(131, 143, 141, 1);
$bg: rgb(238, 242, 240);
$color-button-light-bg: rgba($color-primary, 0.2);

$border-radius-sm: 1rem;

$fs-text: clamp(0.7rem, 1.3vw, 1.13rem);
$fs-title: clamp(1.07rem, 3vw, 1.38rem);

// adaptive
$small: 576px;
$tablets: 768px;
$large: 1200px;
$container: 1600px;

// Grid positions hero screen
$items-positions: (
  desktop: (1: (row: 1, column: 1),
    2: (row: 2, column: 1, mw: 16rem),
    3: (row: 1 / span 2, column: 2),
    4: (row: 1, column: 3, ac: center),
    5: (row: 2, column: 3, pos: -50%)),
  laptop: (1: (row: 1, column: 1),
    2: (row: 2, column: 1),
    3: (row: 2, column: 2 / span 2),
    4: (row: 1, column: 3),
    5: (row: 1, column: 2)),
  mobile: (1: (row: 1, column: 1),
    2: (row: 4, column: 1 / span 3),
    3: (row: 3, column: 1 / span 3),
    4: (row: 1, column: 3),
    5: (row: 2, column: 1 / span 3))
);