@use 'vars' as *;
@use 'mixins' as mixin;

.advantages {
  $gap: clamp(1.22rem, 3vw, 2rem);

  &__inner {
    background-color: $color-primary;
    border-radius: calc($border-radius-sm * 2);
    padding: clamp(2.2rem, 5vw, 3.3rem) clamp(0rem, 2vw, 2.5rem);
  }

  &__title {
    color: $color-white;
    margin-bottom: clamp(1.5rem, 3vw, 3.5rem);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.22rem;

    max-width: calc(50% - ($gap / 2));
    background-color: $color-white;
    border-radius: $border-radius-sm;
    padding: clamp(1.22rem, 3vw, 1.77rem) clamp(1rem, 3vw, 1.5rem);

    @include mixin.respond-to(tablet) {
      max-width: 100%;
    }

  }

  &__item-title {
    @include mixin.titleSmall();
  }

  &__item-desc {
    color: $color-desc-text;
    @include mixin.textDescription()
  }

  &__item-accent {
    font-weight: 500;
    line-height: 25px;
    font-size: 2.2rem;
    color: $color-primary;
  }

  &__example {
    .advantages__item {
      background-color: transparent;
    }

    .container {
      display: flex;

      @include mixin.respond-to(tablet) {
        display: block;
      }
    }

    img {
      max-width: max-content;
      height: 100%;

      @include mixin.respond-to(tablet) {
        width: 100%;
        max-width: 100%;
      }
    }

    &-items {
      display: flex;
      align-items: center;
      background-color: $color-white;
      margin-left: -0.7rem;
      padding-left: 0.7rem;
      border-top-right-radius: $border-radius-sm;
      border-bottom-right-radius: $border-radius-sm;

      @include mixin.respond-to(medium-screens) {
        flex-direction: column;
      }

      @include mixin.respond-to(tablet) {
        margin-left: 0;
        margin-top: -1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: $border-radius-sm;
        border-bottom-left-radius: $border-radius-sm;
      }
    }

    .advantages__item {
      max-width: 100%;
      justify-content: space-between;
      border-radius: 0;


      &:first-child {
        margin-left: 2rem;

        @include mixin.respond-to(medium-screens) {
          margin-left: 0;
        }
      }

      @include mixin.respond-to(tablet) {
        align-items: center;
        text-align: center;
      }


    }

    .advantages__item-title {
      font-weight: 400;
      line-height: 100%;
    }

  }

  &__image {
    position: relative;
    z-index: 2;
  }
}

.career-page {
  .advantages {
    &__inner {
      background-color: transparent;
    }

    &__title {
      text-align: start;
      color: $color-text;
      margin-bottom: clamp(1.5rem, 3vw, 3.5rem);
    }

    &__item {
      padding: clamp(1.5rem, 8vw, 2.5rem) clamp(1rem, 6vw, 2rem);
    }

    &__item-title {
      color: $color-secondary;
      font-weight: 600;
    }
  }
}