@use 'sass:math';

.animate {
  will-change: opacity, transform;

  // Отключение анимаций при prefers-reduced-motion
  @media (prefers-reduced-motion: reduce) {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}


.animate-show-top,
.animate-show-left,
.animate-show-bottom,
.animate-show-right {
  opacity: 0;
  transition: opacity 1.8s ease, transform .8s ease;
}

.animate-show-top {
  transform: translateY(-200%);
}

.animate-show-left {
  transform: translateX(-200%);
}

.animate-show-right {
  transform: translateX(200%);
}

.animate-show-bottom {
  transform: translateY(200%);
}

.animate-show {
  transform: translateY(120%);
  opacity: 0;
  transition: all 1.2s;
}

.animate-show-top.animate-active,
.animate-active .animate-show-top,
.animate-show-bottom.animate-active,
.animate-active .animate-show-bottom,
.animate-show-left.animate-active,
.animate-active .animate-show-left,
.animate-show-right.animate-active,
.animate-active .animate-show-right,
.animate-show.animate-active,
.animate-active .animate-show {
  transform: translateY(0);
  opacity: 1;
}

@mixin transitionDelay($activeDelay: .5s,
  $opacityDelay: .5s,
  $transformDelay: .5s) {
  transition: opacity $activeDelay ease $opacityDelay, transform $activeDelay ease $transformDelay;
}

// Генерация случайных задержек для docs элементов
@function random-delay($max: 20) {
  @return math.random($max) * 0.1+0.2s; // Генерирует задержку от 0.1s до 0.2s (можно настроить)
}


// docs__list

.docs {
  &__list {
    &.animate-active {

      // Для всех li элементов внутри
      @for $i from 1 through 20 {

        li:nth-child(#{$i}) {
          $delay: $i * 0.1s + random-delay();
          @include transitionDelay(.8s, $delay, $delay);
        }
      }
    }
  }
}

// ----------------------

.hero__adv-list,
.pride__adv-list {

  &.animate-active {
    li:nth-child(1) {
      @include transitionDelay(.8s, .2s, .2s);
    }

    li:nth-child(2) {
      @include transitionDelay(.8s, .5s, .5s);
    }

    li:nth-child(3) {
      @include transitionDelay(.8s, .8s, .8s);
    }
  }

}

// pride 

.pride {
  &__banner {
    transform: scale(0);
    @include transitionDelay(.8s, .2s, .2s);

    &.animate-active {
      transform: scale(1);
    }
  }
}

// --------------

// about-page hero

.about-page {
  .hero__adv-list {

    &.animate-active {
      li:nth-child(1) {
        @include transitionDelay(.8s, 1.5s, 1.5s);
      }

      li:nth-child(2) {
        @include transitionDelay(.8s, 1.2s, 1.2s);
      }
    }

  }
}

// --------------

// product-item

.product-item {
  &__docs-item:nth-child(1) {
    @include transitionDelay(.5s, .2s, .4s);
  }

  &__docs-item:nth-child(2) {
    @include transitionDelay(.5s, .3s, .5s);
  }

  &__docs-item:nth-child(3) {
    @include transitionDelay(.5s, .5s, .7s);
  }

  &__docs-item:nth-child(4) {
    @include transitionDelay(.5s, .7s, .9s);
  }

  &__submit {
    transform: scale(0);
    @include transitionDelay(.5s, 1.7s, 1.9s);

    &.animate-active {
      transform: scale(1);
    }

    animation: ring 0.2s 5s alternate;
  }
}

// ---------------

// advantages

.advantages {

  &__item {
    transform: scale(0);

    &.animate-active {
      transform: scale(1);
    }
  }

  &__list,
  &__example-items {
    &.animate-active {

      .advantages__item:nth-child(1) {
        @include transitionDelay(.5s, .4s, .7s);
      }

      .advantages__item:nth-child(2) {
        @include transitionDelay(.5s, .7s, .9s);
      }

      .advantages__item:nth-child(3) {
        @include transitionDelay(.5s, 1.2s, 1.2s);
      }

      .advantages__item:nth-child(4) {
        @include transitionDelay(.5s, 1.8s, 1.9s);
      }

      .advantages__item {
        transform: scale(1);
      }
    }
  }

}

// --------------
// production
.production {
  &__desc {
    transform: scale(0);
    transition: transform .4s ease .7s;

    &.animate-active {
      transform: scale(1);
    }
  }
}

// --------------
// products 

.products {
  &__list {
    &.animate-active {
      li:nth-child(1) {
        @include transitionDelay(.8s, .2s, .2s);
      }

      li:nth-child(2) {
        @include transitionDelay(.8s, .5s, .5s);
      }

      li:nth-child(3) {
        @include transitionDelay(.8s, .8s, .8s);
      }
    }

    .action {
      animation: ring 0.2s 5s alternate;
    }
  }
}

@keyframes ring {

  0%,
  100% {
    transform: rotate(-1deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(1deg);
  }
}

// --------------

// spheres__list

.spheres__list {
  &.animate-active {
    li:nth-child(1) {
      @include transitionDelay(.8s, .2s, .2s);
    }

    li:nth-child(2) {
      @include transitionDelay(.8s, .5s, .5s);
    }

    li:nth-child(3) {
      @include transitionDelay(.8s, .8s, .8s);
    }
  }
}

// --------------


// features__items

.features__items {
  .features__item {
    opacity: 0;
  }

  &.animate-active {
    .features__item {
      visibility: visible;

      /* Применяем анимацию */
      animation-name: flipInY;
      animation-fill-mode: both;
    }

    .features__item:nth-child(1) {
      animation-duration: 1s;
      animation-delay: 3s;
    }

    .features__item:nth-child(2) {
      animation-duration: 2s;
      animation-delay: .8s;
    }

    .features__item:nth-child(3) {
      animation-duration: 1s;
      animation-delay: 2s;
    }

    .features__item:nth-child(4) {
      animation-duration: 2s;
      animation-delay: .5s;
    }

    .features__item:nth-child(5) {
      animation-duration: 1s;
      animation-delay: 1.5s;
    }

    .features__item:nth-child(6) {
      animation-duration: 2s;
      animation-delay: 1s;
    }
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

// ----------------------

// canvas 
.advantages {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}