@use 'vars' as *;
@use 'reset';
@use 'global';
@use 'mixins' as mixin;
@use 'animate';

@use 'header';
@use 'footer';

@use 'hero';
@use 'advantages';
@use 'products';
@use 'spheres';
@use 'features';
@use 'partners';
@use 'docs';
@use 'dropdown';
@use 'form';
@use 'applying';
@use 'about';
@use 'contacts';
@use 'career';
@use 'popups';


body {
  display: flex;
  flex-direction: column;
  @include mixin.font;
  background-color: $bg;
  color: $color-text;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

main {
  flex: 1;
}

$padding-x: clamp(.7rem, 2vw, 1.22rem);

.container {
  max-width: calc(100rem - ($padding-x * 2));
  padding: 0 $padding-x;
  margin: 0 auto;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;

    footer & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 25rem;
    }
  }

  &__link {
    background-color: transparent;

    @include mixin.respond-to(handhelds) {
      justify-content: center;
    }

    header & {
      background-color: $color-button-light-bg;
      text-align: start;

      @media (hover: hover) {
        &:hover {
          background-color: rgba($color-button-light-bg, 0.4);
        }
      }

    }
  }
}